header {
    background-color: #2d2d2d;
    ul li {
        text-decoration: none;
        list-style: none;
        margin-right: 15px;
    }
    nav .container-fluid:first-of-type {
        position: relative;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .navbar-toggler {
        margin-left: auto;
        margin-bottom: 5px;
        outline: none !important;
        border: none !important;
        .fa-bars {
            color: rgba(0, 0, 0, 0.7);
        }
        &:focus {
            color: transparent;
        }
        &:focus .fa-bars {
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .nav-item {
        .nav-link {
            cursor: pointer;
        }
        &:hover {
            background-color: #943c25;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
    .second-nav {
        background-color: #943c25;
        ul li {
            color: white !important;
            margin: 3px 0;
        }
        button.icon {
            background-color: transparent;
            border: none;
        }
    }
    .searching {
        position: relative;
        #search {
            input {
                width: 320px;
                border: 1px solid #943c25;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
            position: absolute;
            top: 25px;
            right: 0px;
        }
        .form-control:focus {
            box-shadow: none !important;
            outline: none !important;
            border: 1px solid #943c25 !important;
        }
    }
}